<div class='container'>
	<div class='row dev-profile'>
		<div class='col-sm-6 col-sm-offset-3 col-xs-12'>
			<div class="well">
				<h2>Edit</h2>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>