

<div class='about-main'>
	<div class='container'>
		<div class='row about-content'>
			<div class='col-md-7 col-sm-8 col-xs-12'>
				<section class='content-left'>
					<p>My name is Said, I'm a web and application developer based in Austin. I'm passionate about technology and the impact it has on the world. I enjoy working with others to create web applications that solve problems and improve lives. I'm enthusiastic about front-end, back-end and test driven development and functional applications. I am a Mac, *nic user. I focus on two languages: Ruby and Javascript. Ruby on Rails is my preferred framework for the development of custom rich-internet applications. Rails is ideal for new application development with fast, iterative development loops. Quickly integrate existing open-source projects and APIs to speed up development times.</p>	
				</section>
			</div>
			<div class='col-md-5 col-sm-4'></div>
		</div>
	</div>
</div>
