<!--   -->
<div class='jumbotron'>
	<div class='container top-home text-center'>
		<h1 >Full Stack Web Developer</h1>
		<h4>I create interactive &#38; intuitive  <span>websites</span> and <span>web applications</span> </h4>
		<p >UI DESIGN, RUBY ON RAILS, ANGULARJS, NODEJS</p>
	</div>
</div>
<!-- <h2>Hello Portfolio Have a question about a particular startup project or idea, just curious to know our process, or how the whole system work generally? Drop us a note or give us a call; we’re happy to answer all your questions -->
<!-- </div>