<!--   -->
<div class='jumbotron'>
	<div class='container top-home text-center'>
		<h1 >Full Stack Web Developer</h1>
		<h4>I craft responsive &#38; intuitive  <span>websites</span> and <span>web applications</span> </h4>
		<p >UI DESIGN, RUBY ON RAILS, ANGULARJS, NODEJS</p>
	</div>
</div>
