<!--   -->
<div class='jumbotron'>
	<div class='container top-home'>
		<h1 class='text-center'>Full Stack Web Developer</h1>
		<h4 class='text-center'>HTML&CSS, RUBY, and JAVASCRIPT</h4>
	</div>
</div>
<!-- <h2>Hello Portfolio Have a question about a particular startup project or idea, just curious to know our process, or how the whole system work generally? Drop us a note or give us a call; we’re happy to answer all your questions -->
<!-- </div>