
<div class='container'>
	<div class='row project-home'>
		<div class='col-sm-12'>
			<% @projects.each do |project| %>
			 <%= image_tag project.screenshot_url %>
			<% end %>
		</div>
	</div>
</div>