<div class='container'>
	<div class='row project-home'>
		<div class='col-sm-12'>

			<h2><%= @project.name %></h2>
			<%= @project.description %>
			<%= image_tag @project.screenshot_url %>
		</div>
	</div>
</div>