// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.project-display{
  width: 100%;
  //height: 100%;
  top: 0;
  bottom: 0;
  background: #d9534f url("https://s3.amazonaws.com/maadan/ms/deve10.jpg") repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
	.project-show{
		margin: 100px auto;
		
		h3 a{
			color: gray;
			font-size: 1.6em;
			font-weight: 900;
		}
		h4{
			a{
			text-align: center;
			color: #d9534f;
			font-weight: 900;
			}
		}
			
	}
}
.project-home-show{
	// padding-bottom: 100px;
	border-radius: 15px;
}
  
.project-home{
	background: #fff;
	margin-top: 60px;
	padding-bottom: 100px;
	.project-display-showme{
		margin: 20px auto 40px;
		padding-bottom: 40px;
		h3 a{
		color: gray;
		font-size: 1.6em;
		font-weight: 900;
		}
		h4{
			a{
			text-align: center;
			color: #d9534f;
			font-weight: 900;
			}
		}
		kbd{
			color: #d9534f;
		}
	}	
}

.project-content{
	h3{
		color: #5bc0de;
		font-size: 1.4em;
		font-weight: 900;
	}
	kbd {
		  padding: 2px 10px;
		  font-size: 90%;
		  color: #ddd;
		  background-color: #d9534f;
		  border-radius: 3px;
		  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
		}
	p{
		font-size: 1.2em;
	}
	p a{
			color: #d9534f;	
			font-size: 1.3em;
		}

}
.project-comment{
	width: 100%;
	height: 300px;
	overflow: auto;
	overflow-x:hidden;
	margin: 0;
	padding: 0;

}

.photo{
	text-align: center;
	position:relative;
}

.photo,
.photo-hover,
.photo-hover .mask,
.photo-img,
.photo-info{
	width:100%;
	height:300px;
}

.photo-img,
.photo-hover,
.photo-hover .mask{
	position:absolute;
	top:0;
	left:0;
}

.photo-type-line .photo-hover{
	z-index:100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	opacity:0;
	cursor:pointer;
	display:block;
	text-decoration: none;
	text-align: center;
}

.photo-type-line .photo-info{
	z-index: 10;
	color:#fff;
	display:table-cell;
	vertical-align: middle;
	position: relative;
	
}

.photo-type-line .photo-info .headline{
	font-size:20px;
}

.photo-type-line .photo-info .line {
	 height:1px;
	 width:0%;
	 margin:15px auto;
	 background-color:#ffffff;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;					 

}

.photo-type-line .photo-hover .mask{
	background:#d9534f;
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index:0;
}

.photo-type-line .photo-hover:hover .line{
	width:40%;
}

.photo-type-line .photo-hover:hover{
	opacity:1;
}

.photo-type-line .photo-info .headline .desc .line{
	text-align: center;
}

.photo-img{
	background:white;
	z-index:0;
	width: 100%;
	// height: 250px;

}

.photo-img img{
	background:white;
	z-index:0;
	width: 100%;
	height: 300px;
	margin: auto;

}
.photo .photo-type-line .photo-hover img{
	width: 500px;
	height: 500px;
	margin: auto;

}
#project-back{
	margin-top: 25px;
}

